:root{
--white-color: rgb(228, 226, 229);
}

.container-horizontal{
    display: flex;
    flex-direction: row;
}

.container-vertical{
    display: flex;
    flex-direction: column;
}

/* WIDTHS */
.width-40-center{
    width: 40%;
    margin: auto;
}

.width-100{
    width: 100%;
    margin: 0;
}

/* HEIGHTS */
.height-80{
    height: 80%;
}
.height-100{
    height: 100%;
}
.height-full{
    min-height: 100vh;
}

/* MARGINS */
.margin-top-10{
    margin-top: 10%;
}
.margin-bottom-10{
    margin-bottom: 10%;
}
.margin-bottom-5{
    margin-bottom: 5%;
}
.margin-bottom-2{
    margin-bottom: 2%;
}

/* PADDINGS */
.padding-2{
    padding: 2%;
}

/* BORDERS */
.rounded-border-30{
    border-radius: 30px;
}

/* BACKGROUNDS */
.bg-flight-1{
    background-image: url('../images/flight1.jpg');
    background-size: cover;
    height: 100%;
    margin-top: 0;
}
.bg-dark-transparent-50{
    background: rgba(50, 49, 49, 0.50);
}
.bg-light-grey{
    background-color: rgb(173, 173, 173);
}